@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.parallax {
    /* The image used */
    background-image: url("../Images/data_analytics.jpg");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position-x:0px; 
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

.fa {  
    padding: 5px;
    text-align: center;
    margin: 5px 2px;
    width: 50px;
}  

.fs {
    font-size: 25px;  
}

.fa-linkedin {  
    background: white;  
    color: black;  
}  

.fa-skype {  
    background: #00aff0;  
    color: white;  
}  

.fa-github {  
    background: white;  
    color: black;
}      

.fa:hover {  
      opacity: 0.9;  
} 
  
h1 {
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 800;
    background-color: white;
}
 h2 {
    font-family: "Playfair Display";
    font-size: 40px;
    font-weight: 500;
 }

h5 {
    font-family: "Playfair Display";
} 
.header {
    padding-left: 30px;
    position:fixed; 
    width:100%; 
    left:0; 
    top:0; 
    z-index:1;
}
