@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.parallax2 {
    /* The image used */
    background-image: url("../Images/data_analytics.jpg");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position-x:0px; 
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .parallax {
    /* The image used */
    background: url("../Images/data_analytics.jpg") center no-repeat transparent;
  
    z-index:-1;
    position:fixed;
    width:100%;
    height:100%;
    background-size:cover;
  }
  body {margin:0;}
  body,html {height:100%;}

  #container {
    position:relative;
    margin:0 auto;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
  }

  #content {
	margin:0 auto;
  padding:20px;
  background:white;
  }

.fa {  
    padding: 5px;
    text-align: center;
    margin: 5px 2px;
    width: 50px;
}  

.fs {
    font-size: 25px;  
}

.fa-linkedin {  
    background: white;  
    color: black;  
}  

.fa-skype {  
    background: #00aff0;  
    color: white;  
}  

.fa-github {  
    background: white;  
    color: black;
}      

.fa:hover {  
      opacity: 0.9;  
} 
  
h1 {
    font-family: "Playfair Display",sans-serif;
    /* font-size:xx-large;  */
    color: #272779;
    font-weight: 800;
    opacity: 10;
    z-index:1
    /* background-color: white; */
}
 h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color:white;
 }

h5 {
    font-family: "Playfair Display", sans-serif;
} 
.header {
    padding-left: 30px;
    position:fixed; 
    width:100%; 
    left:0; 
    top:0; 
    z-index:1;
}
